.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-button {
  margin-top: 20px;
  padding: 15px 90px;
  border-radius: 50px;
  border: none;
  font-size: 17px;
  font-weight: 700;
  color: white;
  background-color: rgb(24, 137, 230);
}

.form-button-disabled {
  margin-top: 20px;
  padding: 15px 90px;
  border-radius: 50px;
  border: none;
  font-size: 17px;
  font-weight: 700;
  color: white;
  background-color: #dddddd;
}

.form-button-reset {
  width: 100px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 40px;
  border: none;
  font-size: 10px;
}

.form-signup-link {
  margin-top: 20px;
  text-align: center;
}
