.Wrapper {
  margin-bottom: 20px;
}

.Wrapper > div {
  display: flex;
}

.Input {
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgb(151, 151, 151);
  font-size: 17px;
}

.Input::placeholder {
  color: rgb(151, 151, 151);
}

.Input::-webkit-outer-spin-button,
.Input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
