.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgb(151, 151, 151);
  font-size: 17px;
}

.form-input::placeholder {
  color: rgb(151, 151, 151);
}

.form-input::-webkit-outer-spin-button,
.form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
